body{
    margin: 0;
}

#head{
    height: 50px;
    background-color: #6699FF;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #ffffff;
}

#headContent{
    width: 560px;
    height: 50px;
    margin: auto;
}

#head h3{
    margin: 7px 10px;
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #ffffff;
    text-shadow: #000000 0 0 4px;
}

.container{
    width: 570px;
    height: 550px;
    margin: auto;
}

.row{
    width: 170px;
    height: 255px;
    float: left;
    margin: 10px 10px;
    text-align: center;
}

p{
    margin-top: 0px;
}


img{
    width: 170px;
    height: 210px;
    border: 3px solid rgba(0,0,0,0.38);
    border-radius: 10px 10px 10px 10px;
}

.rowImg {
    opacity: 1;
}

.rowImg:hover {
    opacity: 0.7;
}

