body{
    margin: 0;
}

#head{
    height: 50px;
    background-color: #6699FF;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #ffffff;
}

#headContent{
    width: 560px;
    height: 50px;
    margin: auto;
}

#head h3{
    margin: 7px 10px;
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #ffffff;
    text-shadow: #000000 0 0 4px;
}

.container{
    width: 545px;
    height: 500px;
    margin: auto;
}

.row{
    width: 270px;
    height: 455px;
    margin: auto;
    margin-top: 30px;
    position: relative;

}

p{
    margin-top: 0px;
    text-align: center;
}

img{
    width: 270px;
    height: 340px;
    border: 3px solid rgba(0,0,0,0.38);
    border-radius: 10px 10px 10px 10px;
}

.text{
    float: right;
}