<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css.css}" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <title>Title</title>
</head>
<body>
    <div id="head">
        <div id="headContent">
            <a th:href="@{/}"><h3>demoBooks.com</h3></a>
        </div>
    </div>

    <div id="inputDiv">
        <form action="filter" method="get">
            <input name="name"/>
        </form>
    </div>

    <div class="container">

        <div class="row" th:each="book : ${books}">
            <a class="rowImg" th:href="@{'/book/' + ${book.nameImg}}">
                <img th:src="@{'/img/' + ${book.nameImg} + '.jpg'}">
            </a>
            <p th:text="${book.nameBook}"></p>
        </div>
    </div>

</body>
</html>